<div class="container">
  <h1>Welcome to Angular Forms app</h1>
  <div class="row" style="margin-bottom:20px">
    <div class="col-md-12">
      <app-profile></app-profile>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Custom Control</h4>
          <app-custom-control [formControl]="buttonGroup"></app-custom-control>
          <pre>
            <code>
                Control dirty: {{buttonGroup.dirty}}
                Control touched: {{buttonGroup.touched}}
            </code>
           </pre>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Custom Slider</h4>
          <app-chapter-6></app-chapter-6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Dynamic form</h4>
          <app-form-renderer [formConfig]="formConfig" (formSubmit)="submitForm($event)">
          </app-form-renderer>
          <pre>{{ formValue | json }}</pre>
        </div>
      </div>
    </div>
  </div>
  <app-control></app-control>
  <hr/>
  <app-registration></app-registration>
  <hr/>
  <app-form-builder></app-form-builder>
  <hr/>
  <app-state-form></app-state-form>
  <hr/>
  <app-login></app-login>
  <hr>
  <app-validator></app-validator>
</div>
